.chart {
  shape-rendering: crispEdges;
  width: 100%;
}

:root {
  --pf-c-chip__text--FontSize: var(--pf-global--FontSize--xs);
}

.overview-event {
  stroke-width: 6;
  /* fill-opacity: 0.7; */
}
.event0 {
  fill: var(--pf-global--palette--blue-200);
}

.event1 {
  fill: var(--pf-global--palette--orange-200);
}

.event2 {
  fill: var(--pf-global--palette--purple-200);
}

.brush .extent {
  stroke: gray;
  fill: dodgerblue;
  fill-opacity: 0.365;
}

.event-link:after {
  content: "🗗";
}
.event-label {
  fill: var(--pf-global--palette--black-700);
}
.event-line {
  stroke: var(--pf-global--palette--black-200);
}

.region-name {
  fill: var(--pf-global--palette--black-700);
}
