.chart {
  shape-rendering: crispEdges;
  width: 100%;
}

:root {
  --pf-c-chip__text--FontSize: var(--pf-global--FontSize--xs);
}
.zoomed-event {
  filter: drop-shadow(3px 2px 1px rgba(0, 0, 0, 0.3));
}
.overview-event {
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

.zoomed-event,
.overview-event {
  opacity: 0.5;
}
.brush .extent {
  stroke: gray;
  fill: dodgerblue;
  fill-opacity: 0.365;
}

.event-link:after {
  content: '🗗';
}
.event-label {
  fill: var(--pf-global--palette--black-700);
  font-size: var(--pf-global--icon--FontSize--sm);
  mask-image: linear-gradient(to right, black 5%, transparent 10%);
}
.event-label:hover {
  mask-image: none;
}

.region-lane:nth-child(2n) > .event-lane {
  fill: var(--pf-global--BackgroundColor--150);
}
.region-lane:nth-child(2n+1) > .event-lane {
  fill: var(--pf-global--BackgroundColor--100);
}

.event-line {
  stroke: var(--pf-global--palette--black-200);
}

.region-name {
  fill: var(--pf-global--palette--black-700);
}

.zoom-event {
  fill: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
