.chart {
  shape-rendering: crispEdges;
  width: 100%;
}

:root {
  --pf-c-chip__text--FontSize: var(--pf-global--FontSize--xs);
}

.overview-event {
  stroke-width: 6;
  /* fill-opacity: 0.7; */
}

.brush .extent {
  stroke: gray;
  fill: dodgerblue;
  fill-opacity: 0.365;
}

.event-link:after {
  content: "🗗";
}
.event-label {
  fill: var(--pf-global--palette--black-700);
}
.event-line {
  stroke: var(--pf-global--palette--black-200);
}

.region-name {
  fill: var(--pf-global--palette--black-700);
}

.zoom-event {
  fill: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .5));
}